.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    background: #0a76d21a;
  }

  button {
    width: 80px;
    background: #7c828436;
    border: solid 1px #363a3c12;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      width: 12px;
      fill: red;
    }
  }
}

.alert {
  text-align: center;
  margin: 20px;
}

.filter {
  margin: 15px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  input {
    border: solid 1px #00000012;
    border-radius: 6px;
    height: 30px;
    width: 350px;
    background: #e2e7e936;
    padding: 0 10px;
    &:focus {
      outline: none;
    }
  }

  span {
    cursor: pointer;
    background: #7c828436;
    border: solid 1px #363a3c12;
    border-radius: 6px;
    padding: 4px;

    &.selectedSort {
      color: #0a76d2;
      border: solid 1px #0a76d2;
    }
  }
}
