@import "../../_config";

.task {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    background: $lightBlue;
  }

  button {
    width: 80px;
    background: $gray;
    border: solid 1px $darkGrey;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    svg {
      width: 12px;
      fill: $errorColor;
    }
  }
}

.taskName {
  width: 180px;
}

.favoriteIcon {
  position: absolute;
  left: 5px;
  top: 45%;
  fill: $favoriteTaskColor;
  width: 11px;
}

.alert {
  text-align: center;
  margin: 20px;
}

.filter {
  margin: 15px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  input {
    border: solid 1px $dark;
    border-radius: 6px;
    height: 30px;
    width: 350px;
    background: $lightGray;
    padding: 0 10px;
    &:focus {
      outline: none;
    }
  }

  span {
    cursor: pointer;
    background: $gray;
    border: solid 1px $darkGrey;
    border-radius: 6px;
    padding: 4px;

    &.selectedSort {
      color: $blue;
      border: solid 1px $blue;
    }
  }
}
