.title {
  font-size: 22px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}

.info {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;

  div {
    flex: 50%;
    margin-top: 10px;
    border-bottom: 1px solid #e3e6ea;
    padding-bottom: 10px;
  }
  pre {
    margin: 0;
  }

  div:nth-child(2n - 1) {
    font-weight: bold;
  }
}

.button {
  background: #0a76d2;
  border-radius: 5px;
  color: #fff;
  height: 45px;
  line-height: 45px;
  width: 100%;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    opacity: 0.8;
  }
}

.comments {
  padding: 0 20px 20px;
}

.textarea {
  display: block;
  width: 100%;
  border-radius: 5px;
  background: #f4f6f8;
  font-size: 18px;
  outline: none;
  border: 1px solid #c0c7ce;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: #0d1b24;
  padding: 20px;
  line-height: 1.1;
  height: auto;
}

.actionButton {
  width: 180px;
  margin: auto;
  text-align: center;
  color: #0a76d2;
  font-weight: bold;
  border: solid 1px #363a3c12;
  border-radius: 6px;
  padding: 3px 5px;
  background: #7c828436;
  cursor: pointer;
}
