@import "../../_config";

.title {
  font-size: 22px;
  font-weight: bold;
  margin: 20px;
  text-align: center;

  svg {
    width: 15px;
    fill: $favoriteTaskColor;
  }
}

.info {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;

  div {
    flex: 50%;
    margin-top: 10px;
    border-bottom: 1px solid $gray;
    padding-bottom: 10px;
  }
  pre {
    margin: 0;
  }

  div:nth-child(2n - 1) {
    font-weight: bold;
  }
}

.button {
  background: $blue;
  border-radius: 5px;
  color: $white;
  height: 45px;
  line-height: 45px;
  width: 100%;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    opacity: 0.8;
  }
}

.comments {
  padding: 0 20px 20px;
}

.textarea {
  display: block;
  width: 100%;
  border-radius: 5px;
  background: $lightGray;
  font-size: 18px;
  outline: none;
  border: 1px solid $darkGrey;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 20px;
  line-height: 1.1;
  height: auto;
}

.actionButton {
  width: 180px;
  margin: auto;
  text-align: center;
  color: $blue;
  font-weight: bold;
  border: solid 1px $darkGrey;
  border-radius: 6px;
  padding: 3px 5px;
  background: $gray;
  cursor: pointer;
}
