.container {
  padding: 7px 7px 7px 15px;
  & span {
    color: red;
    font-size: 12px;
    position: absolute;
    left: 7px;
    top: 45px;
  }
}

.fieldWrapper {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  border-radius: 5px;
  background: #f4f6f8;
  height: 45px;
  font-size: 18px;
  line-height: 45px;
  outline: none;
  border: 1px solid #c0c7ce;
  margin-bottom: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #0d1b24;
}

.dates {
  display: flex;
  justify-content: space-around;
}

.textarea {
  padding: 20px;
  line-height: 1.1;
  height: auto;
  resize: vertical;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #363a3c36;
    border-radius: 20px;
    &:hover {
      background: #191b1c60;
    }
  }
}

.button {
  background: #0a76d2;
  border-radius: 5px;
  color: #fff;
  height: 45px;
  line-height: 45px;
  width: 100%;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    opacity: 0.8;
  }
}

.errorField {
  border: 1px solid red;
}
